body {
  background-color: pink;
  font-family: monospace;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/100/419/original/into-column.gif?1697229223);
  background-repeat: no-repeat;
  background-size: 910px;
  background-position: 180px;
}

#love-eyes {
  width: 360px;
  position: absolute;
  top: 240px;
  left: 20px;
}
#love-eyes:hover {
  transform: scale(0.5);
  transition: 300ms ease-in-out;
}
#column {
  height: 298px;
  position: absolute;
  top: 322px;
  left: 450px;
}
#look-head {
  width: 300px;
  position: absolute;
  top: 60px;
  right: 30px;
}
#look-head:hover {
  transform: scale(1.2) rotate(-360deg);
  transition: 350ms ease-in-out;
}

.weather-app-wrapper {
  max-width: 540px;
  margin: 30px auto;
}
.coded-by {
  opacity: 0.8;
  position: absolute;
  margin: -2px 187px;
  font-size: 18px;
}
.weather-app-wrapper #valagala {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  position: absolute;
  margin-left: 2px;
  color: #752eaa;
}
.weather-app {
  margin-top: -20px;
  background: #eeeeee;
  background: -webkit-radial-gradient(
    circle,
    #eeeeee 0%,
    #db51cf 50%,
    #d7d7d7 100%
  );
  background: radial-gradient(circle, #eeeeee 0%, #db51cf 50%, #d7d7d7 100%);
  padding: 20px;
  border: 1px solid rgb(98, 74, 186);
  border-radius: 7px;
  box-shadow: 2px 4px 6px 2px rgba(98, 74, 186, 0.5);
}
#search-btn {
  background-color: #b462c9;
  border: #9b44b0;
  color: azure;
  box-shadow: 2px 4px 6px 2px rgba(98, 74, 186, 0.5);
}
.location-btn {
  display: inline;
  border: #9b44b0;
  border-radius: 90px 90px 90px 0px;
  background-color: #b462c9;
  box-shadow: 2px 4px 6px 2px rgba(98, 74, 186, 0.5);
  margin-left: -5px;
}
.location-btn:hover {
  transform: rotate(315deg);
  transition: 300ms ease-in-out;
}

.fa-location-dot {
  transform: rotate(46deg);
  color: azure;
  font-size: 26px;
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 3px;
}

#main-icon {
  margin-top: -2px;
  margin-left: 15px;
  width: 100px;
}
#main-icon:hover {
  transform: scale(1.4);
  transition: 200ms ease-in-out;
}

.weather-temperature strong {
  font-size: 80px;
  line-height: 1;
  font-weight: 400;
  color: rgb(98, 74, 186);
  opacity: 0.9;
  position: relative;
  top: 10px;
  left: 5px;
}
.weather-temperature .units {
  position: relative;
  top: -28px;
  left: 3px;
  font-size: 18px;
  opacity: 0.8;
  color: #752eaa;
}
#city {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  color: rgb(98, 74, 186);
  margin-top: -5px;
  margin-bottom: 0;
  margin-left: 10px;
}
ul {
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}

li {
  margin: 0 0 0 10px;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 100;
  color: rgb(98, 74, 186);
  opacity: 0.9;
}
.hum-wind {
  margin-top: 15px;
  margin-left: 40px;
}
#wind {
  text-transform: lowercase;
}

.forecast {
  color: rgb(98, 74, 186);
  text-align: center;
}
.forecast-date {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: -3px;
}
.forecast-temp {
  font-size: 12px;
  margin-bottom: -5px;
}
.forecast-temp-max {
  font-weight: 600;
}
.forecast-temp-min {
  opacity: 0.8;
  font-weight: 500;
}
